html {
    font-size: 16px;
}

body {
    text-align: center;
}

ul {
    margin: auto;
    list-style-type: none;
}

li {
font-size: 1,5rem;

}

.menu {
    display: flex;
}

a, a:link {
    color: hsl(0%, 100%, 40%);
}

a:visited {
    color: hsl(0%, 100%, 40%);
}

a:hover , a:focus{
    color: hsl(0%, 100%, 40%);
}

a:visited {
    color: hsl(0%, 100%, 40%);
}