body {
    font-size: 40px;
    color: #000000;
    background-color: blueviolet;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    width: 25%;
    margin-top: auto;
}

#page {
    width: 80%;
    margin: 0 auto;
}

.section {
    padding: 16px;
    padding: 16px 16px;
    padding: 16px 16px 16px 16px;
}

.gallery-img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    ...
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    ...
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .gallery {
        flex direction: row;
        justify-content: space-between;
    }

    .gallery {
        width: 30%;
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        ...
    }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) {
        ...
    }